<div class="wrapper">
  <div class="logo">
    <img
      src="https://www.freepnglogos.com/uploads/dragon-ball-png/goku-dragon-ball-character-with-blue-electricity-around-png-7.png"
      alt="">
  </div>
  <div class="text-center mt-4 name">
    GreatWall
  </div>
  <div class="container">
    <form [formGroup]="reactiveForm_login_login " (ngSubmit)="onSubmit_login_login ()" #form_login_login="ngForm"
      class="p-3 mt-3">
      <!-- login field avec un control de validite -->
      <div class="form-field d-flex align-items-center">
        <!-- <label >login</label> -->
        <span class="far fa-user"></span>
        <input name="userName" id="userName" placeholder="Username" type="text" formControlName="login"
          [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
        <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
          <div *ngIf="f.login.errors.required"> login est obligatoire </div>
        </div>
      </div>
      <!-- pwd field avec un control de validite -->
      <div class="form-field d-flex align-items-center">
        <!-- <label >pwd</label> -->
        <span class="fas fa-key"></span>
        <input name="password" id="pwd" placeholder="Password" type="password" formControlName="pwd"
          [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }" />
        <div *ngIf="submitted && f.pwd.errors" class="invalid-feedback">
          <div *ngIf="f.pwd.errors.required"> pwd est obligatoire </div>
        </div>
      </div>
    </form>
    <!-- vous pouvez valider votre formulaire n'importe ou -->

    <div class="text-center m-2">
      <button type="button" class="btn mt-3" [disabled]="loading_login_login "
        (click)="form_login_login .ngSubmit.emit()">{{loading_login_login ?"En cours ...":"Valider"}}</button>
      <button class="btn warning mt-3" type="reset" (click)="onReset_login_login ()">Vider</button>
    </div>
    <!-- <div class="text-center fs-6">
      <a routerLink="{{}}">Sign up</a>
    </div> -->
  </div>
</div>