<!-- ajout -->
<!-- <div class="modal fade" id="modal_add_smokesensors" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header " data-bs-theme="dark">
              <h1 class="modal-title fs-5">Ajouter Smokesensors</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <app-add-smokesensors (cb_add_smokesensors)="after_add($event)"></app-add-smokesensors>
          </div>
      </div>
  </div>
</div> -->
<!-- modification -->
<!-- <div class="modal fade" id="modal_edit_smokesensors" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" data-bs-theme="dark">
        <h1 class="modal-title fs-5">Modifier Smokesensors</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="on_close_modal_edit()"></button>
      </div>
      <div class="modal-body">
        <app-edit-smokesensors *ngIf="smokesensors_to_edit" (cb_edit_smokesensors)="after_edit($event)" [smokesensors_to_edit]="smokesensors_to_edit"></app-edit-smokesensors>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <!-- <div class="mt-5 mb-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Smoke detector</h1>
        <div [ngClass]="{'show': alert, 'd-none': !alert}"
          class="alert alert-danger alert-dismissible fade draggable-alert" role="alert" draggable="true"
          (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)">
          Alert Smoke detected!
          <button type="button" class="btn-close" aria-label="Close" (click)="alert = false"></button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container mb-5 mt-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Smoke Detection</h1>
        <div [ngClass]="{
              'show': api.alertSmoke,
              'd-none': !api.alertSmoke,
              'bg-smoke-detected': api.latestSensorData?.smoke === 'alert',
              'bg-smoke-stopped': api.latestSensorData?.smoke === 'stoped'
            }"
          class="alert alert-dismissible fade draggable-alert alert-smoke" role="alert" draggable="true"
          (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)">
          <div *ngIf="api.latestSensorData">
            <p *ngIf="api.latestSensorData.smoke === 'alert'">
              Attention fumée détecté!
            </p>
            <p *ngIf="api.latestSensorData.smoke === 'stoped'">
              Pas de fumée detectée!
            </p>
            <!-- <p><strong>Timestamp:</strong> {{ api.latestSensorData.timestamp }}</p>
            <p><strong>Motion:</strong> {{ api.latestSensorData.smoke }}</p> -->
          </div>
          <button type="button" class="btn-close" aria-label="Close" (click)="alert = false"></button>
        </div>
      </div>
    </div>
  </div>
  
  

  <!-- Date/time filter -->
  <!-- Date/time from -->
  <div class="container mb-3">
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input [(ngModel)]="filterCriteria.dateFrom" type="datetime-local" class="form-control"
            id="floatingInputGrid">
          <label for="floatingInputGrid">Date/Time De</label>
        </div>
      </div>
      <!-- Date/time to -->
      <div class="col-md">
        <div class="form-floating">
          <input [(ngModel)]="filterCriteria.dateTo" type="datetime-local" class="form-control" id="floatingInputGrid">
          <label for="floatingInputGrid">Date/Time A</label>
        </div>
      </div>
      <!-- button -->
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-success m-2" (click)="filterData()">Filtrer</button>
        <button class="btn btn-outline-info mb-2" (click)="downloadPDF()">Télécharger l'historique</button>
      </div>
    </div>
    <!-- display of historique -->
    <div style="max-height: 400px; overflow-y: auto;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Num</th>
            <th scope="col">State</th>
            <th scope="col">Date/time</th>
          </tr>
        </thead>
        <tbody>
          @for (smoke of filteredData; track $index) {
          <tr>
            <td>{{$index + 1}}</td>
            <td>{{smoke.state}}</td>
            <td>{{api.format_date(smoke.updated_at).full_datetime}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

</div>