<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les Admins  - {{les_admins.length}}</div>
  <div class="d-flex">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_admin">Ajouter Admin</button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
<th scope="col">firstName</th>
<th scope="col">lastName</th>
<th scope="col">email</th>
<th scope="col">phone</th>
<th scope="col">password</th><th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_admin of les_admins">
        <td>{{one_admin.id}}</td>
<td>{{one_admin.firstName}}</td>
<td>{{one_admin.lastName}}</td>
<td>{{one_admin.email}}</td>
<td>{{one_admin.phone}}</td>
<td>{{one_admin.password}}</td><td>
  <div class="dropdown">
    <button [disabled]="loading_delete_admin" type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">{{loading_delete_admin?"en cours ...":"actions"}}</button>
    <div class="dropdown-menu">
      <a (click)="on_click_edit(one_admin)" class="dropdown-item" data-bs-toggle="modal"
        data-bs-target="#modal_edit_admin">
        <i class="bx bx-edit-alt me-1"></i>
        Modifier
      </a>
      <a class="dropdown-item" href="javascript:void(0);" (click)=delete_admin({id_admin:one_admin.id_admin})><i class="bx bx-trash me-1"></i>Supprimer</a>
    </div>
  </div>
</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<div class="modal fade" id="modal_add_admin" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header " data-bs-theme="dark">
              <h1 class="modal-title fs-5">Ajouter Admin</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <app-add-admin (cb_add_admin)="after_add($event)"></app-add-admin>
          </div>
      </div>
  </div>
</div>
<!-- modification -->
<div class="modal fade" id="modal_edit_admin" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" data-bs-theme="dark">
        <h1 class="modal-title fs-5">Modifier Admin</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="on_close_modal_edit()"></button>
      </div>
      <div class="modal-body">
        <app-edit-admin *ngIf="admin_to_edit" (cb_edit_admin)="after_edit($event)" [admin_to_edit]="admin_to_edit"></app-edit-admin>
      </div>
    </div>
  </div>
</div>
  