@if (!api.latestSensorData || !api.latestSensorData.motion) {
<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Motion Detection</h1>
      <div [ngClass]="{
              'show': api.motionDetected,
              'd-none': !api.motionDetected,
              'bg-motion-detected': this.les_motionsensorss[0]?.state === 'motion detected',
              'bg-motion-stoped': this.les_motionsensorss[0]?.state === 'motion stoped'
            }" class="alert alert-dismissible fade draggable-alert alert-motion" role="alert" draggable="true"
        (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)">
        <div>
          <p *ngIf="this.les_motionsensorss[0].state === 'motion detected'">
            Motion detected!
          </p>
          <p *ngIf="this.les_motionsensorss[0].state === 'motion stoped'">
            No motion detected!
          </p>
        </div>
        <button type="button" class="btn-close" aria-label="Close" (click)="api.motionDetected = false"></button>
      </div>
    </div>
  </div>
</div>
}@else{
<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Motion Detection</h1>
      <div [ngClass]="{
              'show': api.motionDetected,
              'd-none': !api.motionDetected,
              'bg-motion-detected': api.latestSensorData?.motion === 'motion detected',
              'bg-motion-stoped': api.latestSensorData?.motion === 'motion stoped'
            }" class="alert alert-dismissible fade draggable-alert alert-motion" role="alert" draggable="true"
        (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)">
        <div *ngIf="api.latestSensorData">
          <p *ngIf="api.latestSensorData.motion === 'motion detected'">
            Motion detected!
          </p>
          <p *ngIf="api.latestSensorData.motion === 'motion stoped'">
            No motion detected!
          </p>
        </div>
        <button type="button" class="btn-close" aria-label="Close" (click)="api.motionDetected = false"></button>
      </div>
    </div>
  </div>
</div>
}




<div class="container mb-3">
  <div class="row g-2">
    <!-- states -->
    <!-- <div class="col-md">
      <div class="form-floating">
        <select class="form-select" id="floatingSelectGrid" [(ngModel)]="filterCriteria.states">
          <option value="">All</option>
          <option value='Motion detected!'>Motion detected</option>
          <option value='Motion stopped!'>Motion stopped</option>
        </select>
        <label for="floatingSelectGrid">States</label>
      </div>
    </div> -->
    <!-- Date/Time from -->
    <div class="col-md">
      <div class="form-floating">
        <input [(ngModel)]="filterCriteria.dateFrom" type="datetime-local" class="form-control" id="floatingInputGrid">
        <label for="floatingInputGrid">Date/Time De</label>
      </div>
    </div>
    <!-- Date/time to -->
    <div class="col-md">
      <div class="form-floating">
        <input [(ngModel)]="filterCriteria.dateTo" type="datetime-local" class="form-control" id="floatingInputGrid">
        <label for="floatingInputGrid">Date/Time A</label>
      </div>
    </div>
    <!-- button -->
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-outline-success mb-2" (click)="filterData()">Filter</button>
      <button class="btn btn-outline-info mb-2" (click)="downloadPDF()">Télécharger l'historique</button>
    </div>
  </div>

  <!-- display of historique -->
  <div style="max-height: 400px; overflow-y: auto;">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Num</th>
          <th scope="col">State</th>
          <th scope="col">Date/time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sensor of filteredData">
          <td>{{sensor.id}}</td>
          <td>{{sensor.state}}</td>
          <td>{{api.format_date(sensor.dateTime).full_datetime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>